.disable {
    cursor: not-allowed !important;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.redeem {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}

.button {
    background-color: black;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
}
