.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    /*margin-top: 4rem;*/
    padding: 2rem 5rem;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.headline {
    font-size: 3rem;
}

.line {
    width: 30%;
}

.secondary {
    color: #5B5B5B;
}

.bonds {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bond {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 1rem;
}

.bond:hover {
    transform: scale(1.05);
}

/* Style for select options */
.select option {
    padding: 8px;
}

/* Hover effect for options */
.select option:hover {
    background-color: #f0f0f0;
}

@media (max-width: 1440px) {
    .container {
        padding: 1rem;
    }
}

@media (max-width: 1400px) {
}
