.container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 5rem;
    gap: 5rem;
}

.sections {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15rem;
    gap: 5rem;
    width: 100%;
}


.stroke {
    width: 15%;
    height: 1px;
    background-color: white;
}

.learnMore {
    background-color: #DDDDDD !important;
    color: black !important;
}

.learnMore:hover {
    background-color: #fff !important;
}

.btn {
    padding: 0.5rem 1.75rem;
    border-radius: 0.25rem;
    background-color: black;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.sectionDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: s-resize;
}

.hz {
    width: 3px;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 20%), rgba(255, 255, 255));
}

.cl {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: black;
}

.bondBackgroundImage {
    position: absolute;
    left: 0;
    width: 250px;
    height: 500px;
}

.bondsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    width: 100%;
    z-index: 1;
}

.bondInfo {
    display: flex;
    gap: 12rem;
}

.bondImage {
    position: relative;
    width: 500px;
    height: 400px;
}

.bondInfoTexts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bondInfoText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: #101010;
    width: 100%;
    padding: 3rem 0;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.documentation:hover svg path {
    stroke-opacity: 1;
}

@media (max-width: 1440px) {
    .sections {
        padding: 0 10rem;
    }
}

@media (max-width: 1024px) {
    .sections {
        padding: 0 5rem;
    }

    .bondInfo {
        gap: 5rem;
    }
}

@media (max-width: 768px) {
    .sections {
        align-items: center;
        text-align: center;
        padding: 0 1rem;
    }

    .stroke {
        width: 80%;
    }

    .bondInfo {
        flex-direction: column;
        align-items: center;
    }

    .statistics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 1rem;
    }

    .bondImage {
        width: 350px;
        height: 280px;
    }

    .stat {
        text-align: center;
    }
}
