.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 5rem;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navItem {
    position: relative;

}

.navHover {
    color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem;
    cursor: pointer;
}

.top {
    /*padding-left: 1.25rem;*/
    width: 100%;
    text-align: center;
}


.navHover:hover {
    color: #fff;
    /*border-left: 1px solid rgba(255, 255, 255, 0.1);*/
    /*border-radius: 0 0 0 0.25rem;*/
    /*animation: drawBorder 1.5s ease-in-out infinite;*/
}

.navItem:hover .navDropDown {
    opacity: 1;
    visibility: unset;
    /*animation: drawBorder 1.5s ease-in-out infinite;*/
}

.navDropDown {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;

    gap: 1rem;
    padding: 0.75rem;
    position: absolute;
    background-color: transparent;
    top: 130%;
    /*width: 100%;*/
    background-color: black;
    /*border-left: 1px solid rgba(255, 255, 255, 0.1);*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0 0 0 0.25rem;
}

@keyframes drawBorder {
    20% {
        border-color: rgba(255, 255, 255, 0.2);
    }
    40% {
        border-color: rgba(255, 255, 255, 0.4);
    }
    60% {
        border-color: rgba(255, 255, 255, 0.4);
    }
    80% {
        border-color: rgba(255, 255, 255, 0.2);
    }
}


.connect {
    padding: 0.5rem 2rem;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    font-size: 1.05rem;
    border-radius: 0.25rem;
}

.connect:hover {
    color: black;
    background-color: white;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
}

.addressContainer {
    position: relative;
}


.addressDropDown {
    position: absolute;
    top: 150%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 2rem;
    border: 1px solid #424242;
    z-index: 100;
}

.address {
    border: 1px solid #424242;
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.addressBorder {
    border: 1px solid #424242;
}

.addressBorder:hover {
    border: 1px solid #ffffff;
}

.enabledAddress {
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: rgba(255, 255, 255, 0);
}

.enabledDrop {
    border-radius: 0 0 0.5rem 0.5rem;
}

.disconnect {
    cursor: pointer;
}