.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.border {
    width: 80%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}


.secondaryText {
    color: #5B5B5B;
}

.sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 8rem 1.5rem 8rem;
}

.mainSection {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.socials {
    display: flex;
    gap: 1rem;
}

.links {
    display: flex;
    gap: 2rem;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.attributes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.mobile {
    display: none;
}

@media (max-width: 768px) {
    .sections {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0 1.5rem 0;
    }

    .mainSection {
        align-items: center;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        color: rgba(255, 255, 255, 0.4);
    }
}
