.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 3.5rem;
    min-height: 100vh;
    padding: 3rem 0;
}

.section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}